aws_region         = "us-east-1"
environment        = "dev"
vpc_cidr           = "10.0.0.0/16"
public_subnets     = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnets    = ["10.0.10.0/24", "10.0.11.0/24"]
availability_zones = ["us-east-1a", "us-east-1b"]
instance_type      = "t3.micro"
asg_min_size       = 2
asg_max_size       = 4
asg_desired_capacity = 2

# Optimization Flags
single_nat_gateway    = true   # Set to false for Prod (HA)
enable_spot_instances = false  # Set to true to save costs
certificate_arn       = ""     # Add ACM ARN here to enable HTTPS
